* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: dimgray;
}

.str {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.sr-title {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.exp-item {
  padding: 30px 0;
  border-bottom: 1px solid #f7f7f7;
  justify-content: start;
}
