* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headh {
  padding: 20px 0;
  border-bottom: 2px solid;
  border-color: #6c6b6b;
  text-align: center;
}

.list {
  text-align: center;
  border-bottom: 2px solid;
  border-color: #6c6b6b;
}

.list-item {
  display: inline-block;
  padding: 15px 20px;
}

main {
  width: 100%;
  height: 700px;
}

.box1 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.b1-1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.b1-2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.b1-3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.b1-4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.box2 {
  display: flex;
  justify-content: center;
}

.b2-1 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.b2-2 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.b2-3 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.b2-4 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.box3 {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.b3-1 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.b3-2 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.b3-3 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.b3-4 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #6c6b6b;
  text-align: center;
  line-height: 120px;
}

.footer-text {
  color: #fff;
}
